<app-header></app-header>

<div class="login-bar">  
    <div class="login-form">
      <form method="POST">

        <label for="">Name:</label>
        <div class="errorMessage">{{errors.name}}</div>
        <input type="text" [(ngModel)]="user.name" name="user.name" >

        <label for="">Email:</label>
        <div class="errorMessage">{{errors.email}}</div>
        <input type="email" [(ngModel)]="user.email" name="user.email" >

        <label for="">Password:</label>
        <div class="errorMessage">{{errors.password}}</div>
        <input type="password" [(ngModel)]="user.password" name="user.password" >
        
        <label for="">Confirm Password:</label>
        <div class="errorMessage">{{errors.confirm_password}}</div>
        <input type="password" [(ngModel)]="user.confirm_password" name="user.confirm_password" >

        <button class="waves-effect waves-light btn" (click)="register_user()">Register</button>
      </form>  
    </div>  
  </div>