<app-header></app-header>

<div>
    / <a [routerLink]="['/game_list']">Back to Game List</a> / 
    <a [routerLink]="['/game_level_list/', game[0]._id]">Back to Game Level List</a> /
    <span>Game Board - </span>
    <div class="group-name"> <b>Game</b>: {{game[0].name}}</div>
    <div class="group-name"> <b>Group</b>: {{game_detail.name}} ({{game_detail.group_memeber.length}})</div>
</div>

<div class="time-counter-info">
  Try to finish the race with in 3 min. Counting: 
  <span style="color: red"> {{time_counter}} sec </span> 
</div>

<div class="players-list" *ngFor="let players of game_detail.group_memeber; let even = even; let odd = odd;">
  <div [ngClass]="{'game-board-player-current': players.name == logged_user, 'game-board-player':players.name != logged_user}">
    {{players.name}}: 
    <span id="_{{players.name}}">0%</span> 
  </div>
  <div id="__{{players.name}}" [ngClass]="{'game-board-bar-container': even, 'game-board-bar-container-odd': odd }"> 
    <div [ngClass]="{'game-board-bar': even, 'game-board-bar-odd': odd}" id="{{players.name}}">
      <img class="player" src="./../../assets/images/motorcycle.png" alt="" style="width: auto; height: 40px;">
    </div>
  </div>
</div>

<div class="game-board-screen">
  {{ type_content }}
</div>

<div>
  <h6 class="typingError" *ngFor="let error of error_char"> {{error['char']}}({{error['position']}}), </h6>
</div>

<textarea cols="30" rows="150" spellcheck="false" *ngIf="is_playing" 
  (keydown)="checkTypeValue($event)">
</textarea>



<!-- <div style="padding-top: 20px;">
  <button class="waves-effect waves-light btn">Join the Race</button>
</div> -->