.game-logo{
    display: inline-block;
    width: 20%;
    vertical-align: top;
    padding: 10px;
}
.game-description{
    display: inline-block;
    width: 54%;
    vertical-align: top;
}
.game-scores{
    display: inline-block;
    width: 25%;
    vertical-align: top;
}
h4{
    font-style: italic;
    text-decoration: underline;
}