<div *ngFor="let game of games; let even = even; let odd = odd">
  <div class="game-logo"> 

    <img *ngIf="even" (click)="getGameLevelList(game._id)" 
      src="./../../assets/images/typing-game.png" 
      alt="Typeing Game" style="width: 150px; height: auto;">

    <img *ngIf="odd" (click)="getGameLevelList(game._id)" 
      src="./../../assets/images/finger_sup.jpg" 
      alt="Typeing Game" style="width: 150px; height: auto;">

  </div>
  <div class="game-description">
      <h4> {{game.name}} {{i}} </h4>
      <p> {{game.description}} </p>
  </div>
  <div class="game-scores">
    <!-- <h4> Top 3 Scorers </h4>
    <ol>
      <li>MEAN Stack ( 5 minitus )</li>
      <li>MEAN Stack ( 4 minitus )</li>
      <li>MEAN Stack ( 3 minitus )</li>
    </ol>     -->
  </div>
</div>
